---
storageBuckets:
  {{ project.name }}-01:
    acls:
      usersByEmail:
        pavel.leonovitch@commonmerit.com: READER
        hamilton.hoover@commonmerit.com: WRITER
      groupsByEmail:
        kt-cpa@commonmerit.com: READER

  {{ project.name }}-02:
    acls:
      usersByEmail:
        pavel.leonovitch@commonmerit.com: WRITER
